<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activate Email</title>
  </head>
  <body>
    <h1>Welcome Our Hostel</h1>

    <div class="">
      <%=user.name%>,
      <p>hello sir thanks for registering in Roshan tech</p>
      <p>please enter the code</p>
      <p>is you havent register in Roshan tech then kindly ignore please</p>
      <h2><%= activationCode %></h2>
      <p>Enter this code on activatio page within next 5 minute</p>
    </div>
  </body>
</html>
